.movies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2cm;
  padding: 40px;
  width: 100%;

}

.movie-card {
  margin: 0 20px 0 0;
  border: 2px solid rgb(224, 215, 215);
  background: #ffffff;
  border-radius: 14px;
  overflow: hidden;
  cursor: pointer;
  /* max-width: 100%; */
}

.movie-card img {
  width: 100%;
  object-fit: cover;
  display: block;
}

.movie-card h3 {
  font-size: 18px;
  font-weight: 600;
  margin: 12px 12px 4px;
  color: #222;
}

.movie-card p {
  font-size: 15px;
  color: #666;
  margin: 0 12px 14px;
}
