.banner {
  width: 100%;
  height: 300px;   
  position: relative;       
  overflow: hidden;
  margin-top: 80px;    
}
.banner img {
  width: 100%;
  height: 100%;
  object-fit: auto; 

}

.prev,
.next {
  position: absolute;
  top: 38%;
  transform: translateY(-50%);
  background: rgba(121, 108, 108, 0.5);
  color: white;
  border: none;
  font-size: 28px;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 50%;
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}

.prev:hover,
.next:hover {
  background: rgba(0, 0, 0, 0.8);
}
.place{
  font-size: 25px;
  margin: 2cm 0 0 1cm;
}

.section{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 1cm 0 0 1cm;   
}
.section p{
  border: 1px solid #ccc;
  padding: 6px 14px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  transition: all 0.3s ease;
}