
.bookoffer{
  width: 100%;
  margin-bottom: 1cm;
}
.showtime-wrapper {
  padding: 40px;
  background: #fff;
  font-family: Arial, sans-serif;
}

.movie-header h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.movie-meta {
  display: flex;
  gap: 10px;
  align-items: center;
}

.badge {
  border: 1px solid #999;
  padding: 3px 8px;
  border-radius: 12px;
  font-size: 12px;
}

.chip {
  border: 1px solid #ccc;
  padding: 3px 10px;
  border-radius: 16px;
  font-size: 12px;
}

.date-bar {
  display: flex;
  gap: 10px;
  margin: 25px 0;
}

.date-bar button {
  border: 1px solid #ddd;
  background: white;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
}

.date-bar .active {
  background: #f84464;
  color: white;
}

.filter-bar {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.filter-bar select {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

/* THEATRE */
.theatre {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.theatre-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}

.theatre-name h3 {
  font-size: 16px;
  margin: 0;
}

.theatre-name p {
  font-size: 13px;
  color: #666;
}

.showtimes {
  display: flex;
  gap: 12px;
}

.time {
  padding: 10px 18px;
  border-radius: 6px;
  border: 1px solid #f84464;
  background: white;
  cursor: pointer;
  font-weight: 600;
}


.time.yellow {
  border-color: #f5a623;
}

.time.green {
  border-color: #2ecc71;
}
