
.nav img{
    cursor: pointer;
    margin-left: 20px;
}

.location{
    display: flex;
    gap: 20px;
    font-size: 18px;
    cursor: pointer;
    margin: 10px 0 0 0;
}
.loc-icon{
    color: rgb(75, 129, 209);
    padding-right: 5px;
}
.nav{
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 8px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;        
    background: white;
    z-index: 2000;      
}
.nav ul{
    display: flex;              
    gap: 1.5cm;
    font-size: 18px;
    padding: 20px 1cm  0 5.5cm;
    cursor: pointer;
}
.nav ul li{
    display: flex;
    list-style: none;
    margin-bottom: 10px;
}
input{
    width: 20%;
    height: 30px;
    border-radius: 10px;
    font-size: 15px;
    margin: 10px  0 0 0px;
    cursor: pointer;
    
    padding-left: 1cm;
}
.search-icon{
    position: relative;
    cursor: pointer;
    right: 19%;
    top: 5px;
    color: gray;
    font-size: 18px;
}
.btn{
    width: 3cm;
    height: 35px;
    margin: 10px 5px 0 30px;
}
.btn-first{
    background:rgb(235, 78, 98) ;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 8px;
    color: white;
    border-radius: 5px ;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    
}