
.nav img{
    cursor: pointer;
}

.location{
    display: flex;
    gap: 20px;
    font-size: 23px;
    cursor: pointer;
    margin: 1cm 0 0 1cm;
}
.loc-icon{
    color: rgb(75, 129, 209);
    padding-right: 20px;
}
.nav{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 8px;
}
.nav ul{
    display: flex;              
    gap: 1.5cm;
    font-size: 23px;
    padding: 20px 2cm  0 5cm;
    cursor: pointer;
}
.nav ul li{
    display: flex;
    list-style: none;
}
input{
    width: 20%;
    height: 40px;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 30px;
    cursor: pointer;
    
    padding-left: 2cm;
}
.search-icon{
    position: relative;
    cursor: pointer;
    right: 23%;
    top: 45px;
    font-size: 20px;
}
.btn{
    width: 3cm;
    height: 35px;
    margin: 35px 30px 0 40px;
}
.btn-first{
    background:rgb(235, 78, 98) ;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 8px;
    color: white;
    border-radius: 5px ;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    
}